body { padding-top:0px; }

.header-fixed {
  position: fixed;
  top: 1px;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#ajax-content section, #ajax-content article {
    margin: 10px 10px;
    width: auto;
}

