/* CSS for Open University XML */

Item {
    background-color:White;
}
Title, UnitTitle, Paragraph, a {
    font-family:verdana,sans-serif;
    font-weight:normal;
}

Title, UnitTitle, Paragraph {
  display: block;
}

UnitTitle {
    font-weight:bold;
    color:#006666;
    line-height:1.2em;
    margin-bottom:3px;
    margin-top:1px;
}
Session Title {
    color:#006666;
    margin-left:20px;
    margin-bottom:3px;
    margin-top:1px;

}
Section Title {
    font-weight:bold;
    color:#006600;
    margin-bottom:3px;
    margin-top:1px;
}


a:link, a.dimmed:link, a:link h2, a.dimmed:link h2 {
    color:#669954;
    text-decoration:none;
}
a:visited, a.dimmed:visited, a:visited h2, a.dimmed:visited h2 {
    color:#825D90;
    text-decoration:none;
}
a:hover, a:hover h2 {
    color:#669954;
    text-decoration:underline;
}
a:active, a:active h2 {
    color:#669954;
    text-decoration:underline;
}
/* a.hometdlinktitles, a.hometdlinktitles:visited
{
    color:#FFFFFF;
    text-decoration:none;
}
a.hometdlinktitles:hover
{
    color:#FFFFFF;
    text-decoration:underline;
} */
.paradefault {
    color: #333333;
    text-align:justify;
    margin-bottom: 5px;
    margin-top: 2px;
}
.SourceReference {
    font-size:0.8em;
    color:#333333;
    text-align:right;
    margin-bottom:3px;
    margin-top:2px;
}
.activity {
    font-weight:normal;
    color:#006600;
    text-align:justify;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:3px;
    margin-top:3px;
}
.listitem {
    font-weight:normal;
    color:#333333;
    text-align:justify;
    margin-right:15px;
    margin-bottom:1px;
    margin-top:2px;
}
.gap2 {
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
}
.boxcontent {
    border:outset 1px black;
    background-color:#D9F3F3;
    width:450px;
    margin-bottom:10px;
    margin-top:10px;
    padding:6px;
}
table.tableprop, table.accounts {
   margin-bottom:12px;
  border-collapse: collapse;
    font-size:0.8em;
border: 1px outset black;
}
.accounts td.tablerowtitle, .tableprop td.tablerowtitle
{
  font-family: verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  vertical-align:top;
  color: #FFFFFF;
   background-color:#4B5F4B;
}

.accounts td.tablerowvalues, .tableprop td.tablerowvalues
{
  font-family: verdana, sans-serif;
  font-size: 1em;
  font-weight: normal;
  vertical-align:top;
  color: #4B5F4B;
  background-color: #D9F3F3;
}

.accounts td.tablerowvalues, .accounts td.tablerowtitle {
border: 1px solid #aaa;
}

td.hometableheadercells
{
    font-size:0.8em;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
    color:#FFFFFF;
    background-color:#4B5F4B;
}
td.hometablecells
{
    font-size:0.8em;
    font-weight:normal;
    vertical-align:top;
    text-align:left;
    color:#4B5F4B;
    background-color:#D9F3F3;
}
h1.indexpage {
    color:Black;
    margin-left: 5px;
}
div.metadata {
    margin:12 20px;
    color:#666666;
}
p.metadata {
    margin:0;
    font-size:0.8em;
}
p.ru{
    font-size:0.8em;
}
p.paradefault {
    color:#333333;
    font-weight:normal;
    margin:3px 40px 2px 20px;
    text-align:justify;
    font-size:0.8em;
    line-height:1.4;
}
p.indexpage {
    color:#4B5F4B;
}
div.ru_block {
    position:absolute;
    float:right;
    right:10px;
    top:10px;
    width:170px;
}
h2.ru_head {
    font-weight:bold;
    background-color:#4B5F4B;
    color:White;
    padding:4px;
    margin:0;
}
div.ru_links {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:1px;
    padding:4px 4px 10px 4px;
}
div.pagenums {
    font-size:0.8em;
}
/* this div is no longer required  */
div.evenrow {
    padding:4px;
    margin:5px 10px 0 10px;
}
div.oddrow {
    background:#F1F6FC;
    border-bottom:1px solid #EAEAD5;
    border-top:1px solid #EAEAD5;
    padding:4px;
    margin:5px 10px 0 10px;
}

.oci-dialogue {
    margin:1.5em 0;
}

.oci-dialogue {
    float:left;
    width:100%;
}

.oci-dialogue-line {
    clear:left;
}
.oci-dialogue-remark {
    margin-left:8em;
    margin-bottom:0.5em;
}
.oci-dialogue-speaker {
    float:left;
    width:7em;
}

pre {
    font-family: Andale Mono, monospace;
    font-size: 0.85em;
}

.oci-computerdisplay {
    font-family: Andale Mono, monospace;
    font-size: 0.85em;
}

.oci-computerdisplay .paradefault {
    font-family: Andale Mono, monospace;
}

