<plugin id="net.sourceforge.dita4publishers.epub">

  <extension id="xsl.transtype-epub"/>
  
  <require plugin="org.dita.xhtml"/>
  <require plugin="net.sourceforge.dita4publishers.common.mapdriven"/> 
  <require plugin="net.sourceforge.dita4publishers.common.xslt"/> 

  <template file="build_transtype-epub_template.xml"/>
  
  <template file="xsl/map2epub_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="epub" type="txt"/>
  <feature extension="dita.conductor.target.relative" file="build.xml"/>

</plugin>