<plugin id="org.example.d4p.epub-custom"> <!-- id should match the plugin folder name, which should be a Java-style reverse Internet domain name, such as shown here -->
  
  <extension id="xsl.transtype-epub-custom"/> <!-- update the text after the first hyphen to match your custom transtype -->

  <require plugin="org.dita.xhtml"/> <!-- require the base xhtml plugin from the DITA-OT, because most of the epub processing is based off of this -->
  <require plugin="org.dita4publishers.common.mapdriven"/> <!-- the epub generation makes uses of the D4P mapdriven processing -->
  <require plugin="org.dita-community.common.xslt"/> <!-- we also need this D4P library (e.g., we need it for the custom df:class function that abstracts out the checking of an element's class) -->
  <require plugin="org.dita4publishers.epub"/> <!-- we are extending the base epub plugin so we need to include it -->
  
  <template file="build_transtype-epub-custom_template.xml"/> <!-- change the text between the first hyphen and the first underscore to match your custom transtype -->
  
  <template file="xsl/map2epub_template.xsl"/> <!-- relative path to the template file of your customization -->

  <feature extension="dita.conductor.transtype.check" value="epub-custom" type="txt"/> <!-- change value to match your custom transtype -->
  <feature extension="dita.conductor.target.relative" file="build.xml"/>
  <feature extension="d4p.epub.xslt.param" file="insertParameters.xml"/>

</plugin>