<!-- 
  Plugin descriptor for the DITA4Publishers publication content domain PDF2 extensions
  
  Copyright (c) 2010 DITA For Publishers
  
  Implements XSL-FO rendering of elements in the publication content domain.
  -->
<plugin id="net.sourceforge.dita4publishers.pubContent-d.fo">
  <feature extension="dita.xsl.xslfo"
      value="xsl/pubContent-d2fo.xsl" type="file"/>
      
</plugin>
