<plugin id="net.sourceforge.dita4publishers.kindle">
  <extension-point id="xsl.transtype-kindle"/>
  
  <extension-point id="d4p.kindle.xslt.param" name="Kindle XSLT parameters"/>

  <require plugin="net.sourceforge.dita4publishers.common.mapdriven"/> 
  <require plugin="org.dita-community.common.xslt"/> 
  <require plugin="net.sourceforge.dita4publishers.epub"/> 
  
  <template file="build_transtype-kindle_template.xml"/>
  
  <template file="xsl/map2kindle_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="kindle" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

</plugin>