<plugin id="net.sourceforge.dita4publishers.kindle">

  <require plugin="net.sourceforge.dita4publishers.common.xslt"/> 
 
  <template file="build_transtype-kindle_template.xml"/>
  
  <template file="xsl/map2kindle_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="kindle" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

</plugin>