<!-- 
  Plugin descriptor for the Ruby domain HTML rendering plugin.
  
  Copyright (c) 2010 DITA For Publishers
    
  This plug-in extends the base DITA-to-HTML process to provide appropriate
  rendering for ruby domain elements.
  
  -->
<plugin id="net.sourceforge.dita4publishers.ruby.html">
  <require plugin="net.sourceforge.dita4publishers.common.html"/> 
  <require plugin="net.sourceforge.dita4publishers.doctypes"/> 
  <feature extension="dita.xsl.xhtml" value="xsl/rubyDomain2html.xsl" type="file"/>  
</plugin>
