<html5>
  <!-- if you use a grid, load it first -->
  <style path="modules/960js/code/css/reset.css" />
  <style path="modules/960js/code/css/960_12_col.css" />
  <style path="modules/960js/code/css/text.css" />
  
  <style path="misc/fonts/vegur/css/vegur.css" /> 
    
  <style path="core/d4p/css/d4p.css" />
  <style path="core/d4p/css/tools.css" />  
  <style path="core/d4p/css/dita.css" />
  <style path="core/d4p/css/table.css" />
  <style path="core/d4p/css/list.css" />  
  <style path="core/d4p/css/images.css" />  
  <style path="core/ajaxLoader/css/loader.css" />  
  <style path="core/message/css/message.css" />
  <style path="core/d4p/css/buttons.css" />  
   
  <style path="core/layout/css/ui-icons.css" />  
  
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.accordion.css" />     
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.core.css" />
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.theme.css" />
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.accordion.css" />
 
  <style path="modules/navigation/classic/css/navigation.css" />
  <style path="modules/navigation/classic/css/collapsible-navigation.css" />

  <style path="modules/columns/css/columns.css" />

  <style path="modules/notes/css/notes.css" /> 

  <style path="modules/ui/jQuery-ui/scale2fit/css/scale2fit.css" /> 
  <style path="modules/reltable/css/reltable.css" /> 
  
  <style path="themes/d4p-classic/css/theme.css" /> 

  <script path="core/modernizr/modernizr.dev.2.0.6.js" /> 
  <script path="core/jQuery/jquery-1.7.1.min.js" />
  <script path="core/d4p/js/array.prototype.js" />
  <script path="core/d4p/js/d4p.js" />
  
  <script path="core/module-prototype/js/module.js" />
  <script path="core/message/js/message.js" />
  
  <!-- carefull in this order -->
  <script path="core/ajaxLoader/js/ajaxLoader.js" />
  <script path="core/ajaxLoader/js/ajaxnav.js" />  
  
  
  <script path="modules/navigation/classic/js/navigation.js" />  
  <script path="modules/ui/jQuery-ui/adapter/js/ui.js" />
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.core.js" />
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.widget.js" />
  
  <script path="modules/ui/jQuery-ui/accordion/js/accordion.js" /> 
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.accordion.js" /> 
  
  <script path="modules/ui/jQuery-ui/cycle/js/cycle.js" /> 
  <script path="modules/ui/jQuery-ui/cycle/js/jquery.cycle.js" /> 

  <script path="modules/ui/jQuery-ui/scale2fit/js/scale2fit.js" /> 
  
  <d4p>
  	<init>true</init>
  </d4p>

  <class>
  	<body>img-with-shadow</body>
  	<navigation>grid_4 alpha omega</navigation>
  	<main>
  		<content>grid_7 prefix_1 alpha omega</content>
  	</main>
  	<section>
  		<container>grid_12</container>
  	</section>
  </class>

  <!-- uncomment the following line to build the theme at each time -->
  <theme>
  	<compile>true</compile>
  </theme>
</html5>