





/*removed all styling for menus, absolute positioning with divs, etc. so compare with colormain.css */



/*overrides van commonltr.css of bijkomende classes */

.rl_shortdesc	/* bijkomend */
{
font-size : 1.1em; 
color: #336699
}

.rl_shortdesc img /* bijkomend om beeld in shortdesc rechts te floaten*/
{
float: right;
margin-left: 1em; 
}



pre	/* bijkomend maar interlinie moet beter*/
{
font-size : 0.9em;
}

/*inline elements*/

.uicontrol 	/*override*/
{
font-size : 0.9em;
font-weight: bold;
color: gray;
}

.filepath	/* bijkomend */
{
font-size : 0.9em;
font-weight: bold;
}

.keyboard 	/* bijkomend en manueel als outputclass*/
{
font-family: Arial, Verdana, sans-serif;
font-size : 0.9em;
padding: 0.1em 0.3em;
border: 0.1em solid gray;
}

.parmname, .wintitle	/*eerste is override en tweede is bijkomend*/
{
font-size : 0.9em;
font-weight: bold;
color: #369;
}

.ullinks
{
list-style-type: none;
margin: 0;		/*normalized margin zodat het niet inspringt*/
 }

.ullinks a, .familylinks a
{
color: #336699;
font-family: sans-serif; 		
text-decoration: none; } 	/*normalized margin zodat het niet inspringt*/


/* block elements maar eigenlijk moeten en nog veel herzien worden */

p { font-size: 1em; margin-top: 0em; margin-bottom: 0.5em; }

.topictitle1 { font-family: sans-serif; font-size: 1.25em; font-weight: bold;  text-align: left; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0em 0em 0em 0em;}

.sectiontitle { font-size: 1.1em; font-weight: bold;  margin-top: 0em; margin-bottom: 0em; }

.keyword { font-size: 0.9em; font-weight: bold;}


table.simpletableborder
{
font-size: 0.9em;
border-color: #f2f2f2;
border-style: solid;
border-width: 0.1em;
border-collapse: collapse;
margin-bottom: 1em;
margin-top: 1em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
width: 95%;
}


table th
{
text-align: left;
color: #000;
padding: 0.5em;
border: solid #ccc 0.1em;
background-color: #ccc;
}

table td 
{
color: #000;
padding: 0.5em;
border: solid #ccc 0.1em;
background-color: #f2f2f2; 
}





body
{
font-size : 78%/1.5;
text-align: left;	/*center veranderd in left voor EPUB*/
padding: 0;
margin: 1em;	/*veranderd voor EPUB*/
}




.headline1
{
color: #336699;
text-align: center;	/*center veranderd in left voor EPUB*/
font-size: 1.5em;
margin: 1.5em 0em 0em 0em;
}

.highlight
{
text-align: center;	/*center veranderd in left voor EPUB*/
font-size: 2.5em;
margin: 2em 0em 0em 0em;
}

.copyright
{
font-size: 0.5em;
}

					/*toegevoegd voor EPUB*/
img.floatLeft
{ 
    float: left;
    margin: 4px; 
}


img.floatRight { 
    float: right; 
    margin: 4px; 
}


.figdesc				/*toegevoegd voor EPUB*/
{
font-style: italic;
}


.longquote
{
float: right;
width: 15em;
height: auto;
color: #666;
font-size: 1.25em;
font-style: normal;
/*font-family: "georgia"; */
background-color: transparent;
text-align: left;
border: solid #ccc;
border-width: 0em 0em 0em 0.5em;
margin: 0em 0em;			/*veranderd voor EPUB*/
padding: 0.5em 0.5em 0.5em 0.5em;
}

.longquote:first-letter
{
font-size: 1.3em;
color: #000;
}




a
{
color: #369;
text-decoration: none;				/*veranderd voor EPUB - link colors light blue*/
}

.note
{
border: solid #c00;
border-width: 0.1em 0.1em 0.1em 0.1em;
padding: 0.5em 0.5em 0.5em 0.5em;
}



h1
{
	font-family: sans-serif;

}

h2
{
	font-family: sans-serif;

}

body
{
	font-family: serif;

}




