/**
 * theme-01
 **/
@font-face {
	font-family: "Vegur Regular";
    src: url("../fonts/vegur/Vegur-R-0.602.otf");
}
@font-face {
	font-family: "Vegur Bold";
    src: url("../fonts/Vegur/Vegur-B-0.602.otf");
}
@font-face {
	font-family: "Vegur Medium";
    src: url("../fonts/Vegur/Vegur-M-0.602.otf");
}
@font-face {
	font-family: "Vegur Light";
    src: url("../fonts/Vegur/Vegur-L-0.602.otf");
}

.fontface h1, .fontface  h2, .fontface  h3, .fontface  h4,.fontface  h5,.fontface  h6
{
	font-family: "Vegur Regular", sans-serif;
}

body {
	background: #FFFFFF;
}

footer {
	background: #F6F6F6;
	clear:both;
}

h1#publication-title {
	color:#FFF;
}

section h1 {
	margin:2em 0;
}

header {
	background: #999;
	border-bottom:1px solid #ccc;
}

#section-container {
	background: url("../img/nav-background.png") repeat-y;
}

#left-navigation {
	/*border-right:1px solid #999;*/
}

#left-navigation a, #left-navigation a:link {
	color:#333;
	opacity: 1;
}

nav#left-navigation li.collapsible.collapsed > span.ico {
	background: url("../img/arrow.png") no-repeat 0 0px;
}

nav#left-navigation li.collapsible.active > span.ico {
	background: url("../img/arrow-down.png") no-repeat 0 0px;
}