<plugin id="org.dita4publishers.epub3">

  <extension id="xsl.transtype-epub3"/>

  <require plugin="org.dita.xhtml"/>
  <require plugin="org.dita4publishers.common.mapdriven"/> 
  <require plugin="org.dita-community.common.xslt"/> 
  <require plugin="org.dita4publishers.epub"/> 
  <require plugin="org.dita4publishers.html5"/> 

  <template file="build_transtype-epub3_template.xml"/>
  
  <template file="xsl/map2epub3_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="epub3" type="txt"/>
  <feature extension="dita.conductor.target.relative" file="build.xml"/>

</plugin>