<html5>
  <!-- if you use a grid, load it first -->
  <style path="modules/960js/code/css/reset.css" />
  <style path="modules/960js/code/css/960_24_col.css" />
  <style path="modules/960js/code/css/text.css" />
    
  <style path="core/d4p/d4p.css" />
  <style path="core/d4p/layout.css" />  
  <style path="core/d4p/tools.css" />  
  <style path="core/d4p/dita.css" />
  <style path="core/d4p/table.css" />
  <style path="core/d4p/list.css" />  
  <style path="core/d4p/images.css" />  
  <style path="core/ajaxLoader/loader.css" />  
  <style path="core/message/message.css" />
  <style path="core/d4p/buttons.css" />    
  
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.accordion.css" />     
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.core.css" />
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.theme.css" />
  <style path="modules/ui/jQuery-ui/jQuery-ui/themes/d4p-default/jquery.ui.accordion.css" />
 
  <style path="modules/navigation/classic/navigation.css" />
  <style path="modules/navigation/classic/collapsible-navigation.css" />

  <style path="modules/columns/columns.css" />

  <style path="modules/notes/notes.css" /> 

  <style path="modules/ui/jQuery-ui/scale2fit/scale2fit.css" /> 
  <style path="modules/reltable/reltable.css" /> 
  
  <style path="themes/classic/theme.css" /> 

  <script path="core/modernizr/modernizr.dev.2.0.6.js" /> 
  <script path="core/jQuery/jquery-1.7.1.min.js" />
  <script path="core/d4p/array.prototype.js" />
  <script path="core/d4p/d4p.js" />
  
  <script path="core/module-prototype/module.js" />
  <script path="core/message/message.js" />
  
  <!-- carefull in this order -->
  <script path="core/ajaxLoader/ajaxLoader.js" />
  <script path="core/ajaxLoader/ajaxnav.js" />  
  
  
  <script path="modules/navigation/classic/navigation.js" />  
  <script path="modules/ui/jQuery-ui/adapter/ui.js" />
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.core.js" />
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.widget.js" />
  
  <script path="modules/ui/jQuery-ui/accordion/accordion.js" /> 
  <script path="modules/ui/jQuery-ui/jQuery-ui/ui/jquery.ui.accordion.js" /> 
  
  <script path="modules/ui/jQuery-ui/cycle/cycle.js" /> 
  <script path="modules/ui/jQuery-ui/cycle/jquery.cycle.js" /> 

  <script path="modules/ui/jQuery-ui/scale2fit/scale2fit.js" /> 

  <class>
  	<body>img-with-shadow marginalia</body>
  	<navigation>grid_8</navigation>
  </class>
  
  <!--theme>
  	<compile>true</compile>
  </theme-->
</html5>