<plugin id="org.d4p.graphviz">
  <extension id="xsl.transtype-graphviz"/>

  <require plugin="org.dita4publishers.common.mapdriven"/> 
  <require plugin="org.dita-community.common.xslt"/> 

  <template file="build_transtype-graphviz_template.xml"/>
  
  <template file="xsl/map2graphviz_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="graphviz" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

</plugin>