<plugin id="net.sourceforge.d4p.graphviz">

  <require plugin="net.sourceforge.dita4publishers.common.mapdriven"/> 
  <require plugin="net.sourceforge.dita4publishers.common.xslt"/> 

  <template file="build_transtype-graphviz_template.xml"/>
  
  <template file="xsl/map2graphviz_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="graphviz" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

</plugin>