<plugin id="org.example.d4p.learning.scorm">
  <require plugin="net.sourceforge.dita4publishers.common.xslt"/> 
  <require plugin="org.example.d4p.learning.html"/> 
  
  <feature extension="dita.conductor.target.relative"
    value="build_shell.xml" type="file"/>
  <feature extension="dita.conductor.transtype.check" value="scorm" type="txt"/>

  <feature extension="dita.xsl.xhtml"
    value="xsl/map2scorm_xslt2.xsl" type="file"/>
</plugin>