<?xml version="1.0" encoding="UTF-8"?>
<!--             (C) Copyright 2011 DITA for Publishers                 -->
<!--             All Rights Reserved.                              -->

<plugin id="org.example.d4p.learning.html">
  <require plugin="net.sourceforge.dita4publishers.common.xslt"/> 

  <feature extension="dita.xsl.xhtml"
      value="xsl/learning2xhtml.xsl" type="file"/>

</plugin>
