<!-- 
  Plugin descriptor for the RSuite documentation doctypes
  
  Copyright (c) 2009 DITA For Publishers
  
  This plug-in provides all the DTD and XSD declarations for the 
  Shakespear Play sample specializations.
  
  To enable resolution of references to the doctypes and schemas, you 
  must perform the following one-type action after adding the plugin
  to the Toolkit's plugins directory:
  
  1. From a command window, navigate to the Toolkit's installation
     directory (e.g., cd c:\DITA-OT1.5)
     
  2. Run the command:
  
     ant -f integrator.xml
     
  This will add the documentation-specific catalog entries to the catalog-dita.xml 
  catalog.
  -->
<plugin id="net.sourceforge.dita4publishers.shakespear.doctypes">
  <feature extension="dita.specialization.catalog" value="catalog.xml" type="file"/>
</plugin>
